In [2]:
s="my name is shikha choudhary."
s1=s[::-1]

#

In [3]:
s1

'.yrahduohc ahkihs si eman ym'

In [8]:
s2=input("Enter a string")
#l=len(s2)
if s2[0]==s2[-1]:
    print("string is palindrome")
else:
    print("string is not a palindrome")

Enter a string shikha

string is not a palindrome

In [9]:
s2.upper()

'SHIKHA'

In [10]:
s2.lower()

'shikha'

In [13]:
s3=str(input("enter a string"))
count=0
vowels=['a','e','i','o','u','A','E','I','O','U']
for letter in s3:
    if letter in vowels:
        count=count+1
print("The total number of vowles in the string is=",count)

enter a string this is my second assignment

The total number of vowles in the string is= 7

In [14]:
s3

'this is my second assignment'

In [24]:
s3=str(input("enter a string"))
count_vowels=0
count_cons=0
vowels=['a','e','i','o','u','A','E','I','O','U']
for letter in s3:
    if letter in vowels:
        count_vowels=count_vowels+1
    else:
        count_cons=count_cons+1
        
print("The total number of consonants in the string is=",count_cons)

enter a string this is my second assignment

The total number of consonants in the string is= 21

In [25]:
s3.replace(" ","")

'thisismysecondassignment'

In [26]:
s3=str(input("Enter a string="))
count=0
for i in s3:
    count=count+1
print("Length of string is=",count)

Enter a string= This is my secont assignment

Length of string is= 28

In [38]:
s3=str(input("Enter a string="))
sub_s3=str(input("word to be found="))
if sub_s3 in s3:
    print("word found")
else:
    print("word not found")

Enter a string= have a nice day
word to be found= day

word found

In [40]:
s4="My day was fine"
s4.replace("My","Your")

'Your day was fine'

In [41]:
s3=str(input("Enter a string="))
sub_s3=str(input("word to be found="))
count=0
if sub_s3 in s3:
    count=count+1
print("the number of occurences of word is=",count)

Enter a string= Have a nice day
word to be found= nice

the number of occurences of word is= 1

In [46]:
s3='this man is a good man'
print(s3.find("man"))
print(s3.rfind("man"))

6
20

In [51]:
l=s3.split(' ')

['', 'this', 'man', 'is', 'a', 'good', 'man']

In [55]:
s=" "
s.join(['This','is','a','good','man'])

'This is a good man'

In [6]:
s4="This is a good day"
s4.replace(" ", "_")
#print (s4)

'This_is_a_good_day'

In [10]:
s4.startswith("This")
#s4.startswith("day")

True

In [12]:
s4.endswith("good day")

True

In [17]:
s5="hello world"
s5.title()

'Hello World'

In [25]:
st=input("enter a string")
l=st.split()
longest_word=max(l,key=len)
shortest_word=min(l,key=len)
print("the longest word is",longest_word)
print("the shortest word is",shortest_word)

enter a string India is a great country

the longest word is country
the shortest word is a

In [10]:
str1=input("Enter a string")
l1=str1.split()[::-1]
st2=[]
for i in l1:
    st2.append(i)
print(" ".join(st2))

Enter a string I am happy

happy am I

In [12]:
str1.isalpha()

False

str2=input("enter a string")
l2=str1.split()

In [22]:
str2=input("Enter a string")
l2=str2.split()
count=[]
for i in l2:
        if i.isdigit()==True:
            count.append(int(i))
print("the list of numbers is:",str(count))

Enter a string I Am 20 Years Old and My mother is 40 years Old

the list of numbers is: [20, 40]

In [23]:
count=[]
for i in l2:
    if i.isalpha()==True:
        count.append(i)
print("the list of alphabets is:",count)

the list of alphabets is: ['I', 'Am', 'Years', 'Old', 'and', 'My', 'mother', 'is', 'years', 'Old']

In [27]:
count1=0
count2=0
for i in l2:
    if i.istitle()==True:
        count1=count1+1
    elif i.islower()==True:
        count2=count2+1
print("total number of uppercase letter is:",count1,"and the number of lowercase letters is",count2)

total number of uppercase letter is: 6 and the number of lowercase letters is 4

In [29]:
string="It is a beautiful Day"
string1=string.swapcase()
print(string1)

iT IS A BEAUTIFUL dAY

In [33]:
string.replace("beautiful","")

'It is a  Day'

In [15]:
#extract username from emailid
s=input("Enter email id")
a=s.split('@')[0]
print("the domain name is:" +str(a))

Enter email id shikhachoudhary7@gmail.com

the domain name is:shikhachoudhary7

In [16]:
#extract domain name from email id
b=s.split('@')[-1]
print("the domain name is:" +str(b))

the domain name is:gmail.com

In [3]:
#remove multiple spaces in a string
mystring=input("Enter the string")
mystring = mystring.strip()  # the while loop will leave a trailing space, 
                  # so the trailing whitespace must be dealt with
                  # before or after the while loop
while '  ' in mystring:
    mystring = mystring.replace('  ', ' ')
print (str(mystring))

Enter the string My      name is   shikha

My name is shikha

In [5]:
#frequency of each character in a string
s=(input("enter a string"))
freq={}
for i in s:
    if i in freq:
        freq[i]=freq[i]+1
    else:
        freq[i]=1
print("frequency of each character is:", str(freq))

enter a string hello it is very very good night

frequency of each character is: {'h': 2, 'e': 3, 'l': 2, 'o': 3, ' ': 6, 'i': 3, 't': 2, 's': 1, 'v': 2, 'r': 2, 'y': 2, 'g': 2, 'd': 1, 'n': 1}

In [19]:
# remove all puntuation marks in a string
s=input("enter a string:")

# printing original string
print("The original string is : " + s)

# initializing punctuations string
punc = '''~!@#$%^&*(){}[]\,;"./?'''
for ele in s:
	if ele in punc:
		s = s.replace(ele, "")

print("The string after punctuation filter : " + s)

enter a string: hello! how are you?

The original string is : hello! how are you?
The string after punctuation filter : hello how are you

In [23]:
# check if string contains only string
test_str=input("enter a string")
if test_str.isdigit():
    print("the string contains only digits")
else:
    print("the string does not contain all digits")

enter a string 4325465756

the string contains only digits

In [27]:
# check if string contains only alphabets
test_str=input("enter a string:")
if test_str.isalpha():
    print("the string contains only alphabets")
else:
    print("the string does not contain all alphabets")

enter a string: mumbai

the string contains only alphabets

In [3]:
#convert string to a list of characters
s="hello world"
l=list(s)
print(l)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [4]:
#check if two strings are anagrams
s1="two"
s_1=set(s1)
s2="tow"
s_2=set(s2)
if s_1==s_2:
    print("the string are anagrams")
else: print("the strings are not anagrams")

the string are anagrams

In [11]:
#find all unique words in a string
str=input("enter a string")
s=set(str.split())
    
print("the list of unique words is:", s)

enter a string one into one is one

the list of unique words is: {'one', 'is', 'into'}

In [6]:
#find if string contains any special characters
n=input("enter a string")
n.split()
c=0
a='!~@#$%^&*()_+={}[]|\:;"",./?'''
for i in range(len(n)):
    if n[i] in a:
        c+=1
if c:
     print("the string contains special characters")
else: 
    print("string does not contain special characters")

enter a string hello! how are you?

the string contains special characters

In [48]:
#remove nth word from a string
n=3
str="hello! what is your name?"
a=str.split()
a.pop(n)
print(a)

['hello!', 'what', 'is', 'name?']

In [5]:
#list with integers from 1 to 10
l1=[1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# length of a list without using len() function
c=0
for i in l1 :
    c+=1
print (c)

10

In [3]:
#append an element to the last of a list
l1=[1,2,3,4,5,6,7,8,9,10]
l1.append(11) 
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [5]:
#insert an element at a specific index
l1.insert(5,"five")
l1

[1, 2, 3, 4, 5, 'five', 12, 6, 7, 8, 9, 10, 11]

In [6]:
#remove an element from a list by its value
l1.remove(2)
l1

[1, 3, 4, 5, 'five', 12, 6, 7, 8, 9, 10, 11]

In [14]:
#remove an element from list by index
l1=[1,2,3,4,5,6,7,8,9,10]
l1.pop(2)
l1

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#check if an element exists in a list
ele=input("enter element to be found:")
if ele in l1:
    print("element exists in list")
else:
    print("element not found in list")

enter element to be found: 24

element not found in list

In [23]:
#find index of first occurence of an element in a list:
l1.index(4)

2

In [7]:
# count occurences of element in a list
l=list('apple')
l.count('p')

2

In [16]:
#reverse the order of elements in a string
l=list("apple")
l.reverse()
l

['e', 'l', 'p', 'p', 'a']

In [2]:
#sort list in ascending order
l=[2,4,6,89,12,79,98,18,89]
l.sort()
l

[2, 4, 6, 12, 18, 79, 89, 89, 98]

In [4]:
#sort list in descending order
l=[2,4,6,89,12,79,98,18,89]
l.sort(reverse=True)
l

[98, 89, 89, 79, 18, 12, 6, 4, 2]

In [7]:
#list of even numbers from 1 to 20
l1=list(range(2,21,2))
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
#list of odd numbers from 1 to 20
l2=list(range(1,20,2))
l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
#sum of all elements of a list
sum=0
for i in l2:
    sum=sum+i
print(sum)

100

In [24]:
#maximum value in a list
l=[2,4,6,89,12,79,98,18,89]
l.sort()
print("the maximum value is:", l[-1])

the maximum value is: 98

In [25]:
#minimum value in a list
l=[2,4,6,89,12,79,98,18,89]
l.sort()
print("the minimum value is:", l[0])

the minimum value is: 2

In [37]:
#list of squares from 1 to 10
sqr=list(range(1,11))
sqr_list=[i**2 for i in sqr]
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
#list of random numbers
import random
randlist = [random.randint(0, 20) for _ in range(10)]
print(randlist)

[15, 0, 12, 1, 17, 4, 2, 5, 3, 16]

In [45]:
#remove duplicates from list
list=set(l)
list

{2, 4, 6, 12, 18, 79, 89, 98}

In [46]:
#find common elements in two list
a = [1, 2, 3, 4, 5]
b = [5, 2, 6, 3, 9]
result = (set(a) & set(b))
if result:
   print("The common elements are:", result)
else:
   print("No common elements present in two arrays")

The common elements are: {2, 3, 5}

In [47]:
#merge two list
c=a+b
print("the merged list is:",c)

the merged list is: [1, 2, 3, 4, 5, 5, 2, 6, 3, 9]

In [49]:
# Multiply all elements in a list by 2.
c1=[n*2 for n in a]
print(c1)

[2, 4, 6, 8, 10]

In [54]:
# Filter out all even numbers from a list.
c2=[2,3,4,5,6,7,8,9,10,12,56,45,25,59]
c3=[]
for i in c2:
    if i%2==0:
        c3.append(i)
print(c3)

[2, 4, 6, 8, 10, 12, 56]

In [61]:
# Convert a list of strings to a list of integers.
a=['1', '2','3','4']
print([int(x) for x in a])

[1, 2, 3, 4]

In [1]:
# Convert a list of integers to a list of string.
a=[1,2,3,4,5]
print([str(x) for x in a])

['1', '2', '3', '4', '5']

In [2]:
# Flatten a nested list.
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = []
for sublist in my_list:
    for num in sublist:
        flat_list.append(num)

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [12]:
#list of 1st 10 fibonacci number.
n1,n2=0,1
n=int(input("Enter the number of terms: "))
i=2
List=[n1,n2]
while i<n:
  n3=n1+n2
  List.append(n3)
  n1=n2
  n2=n3
  i+=1
print(List)

Enter the number of terms:  10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [13]:
#check if list is sorted
test_list = [10, 4, 5, 8, 10]
print ("Original list : " + str(test_list))
flag = 0
test_list1 = test_list[:]
test_list1.sort()
if (test_list1 == test_list):
    flag = 1
if (flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [10, 4, 5, 8, 10]
No, List is not sorted.

In [1]:
#rotate a list by n to the left
list=[2,3,4,5,6,7]
list_new=list[3:]+list[:3]
print(list_new)

[5, 6, 7, 2, 3, 4]

In [2]:
#rotate a list by n to the right
list1=[2,3,4,5,6,7]
list_new1=list[:-3]+list[-3:]
print(list_new1)

[2, 3, 4, 5, 6, 7]

In [6]:
#prime numbers upto 50
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [7]:
#split a list in chunks of size n
my_list = [1, 2, 3, 4, 5, 
           6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
    x = i 
    print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [11]:
#Find the second largest number in a list
li=[21,2,3,43,56,7,78,9,12,23,4,523,45,788,1000,29]
li.sort()
print("the second largest number is:", li[-2])

the second largest number is: 788

In [23]:
#Replace every element in a list with its square.
li=[]
for i in range(1,21):
    li.append(i)
print(li)
li_new=[i**2 for i in li]
print(li_new)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [28]:
#Shuffle the elements of a list randomly.
import random

li=[21,2,3,43,56,7,78,9,12,23,4,523,45,788,1000,29]
random.shuffle(li)

print(li)

[23, 12, 788, 4, 45, 3, 43, 56, 9, 523, 78, 1000, 21, 7, 2, 29]

In [31]:
#Create a list of the first 10 factorial numbers.
import math
li=[i for i in range(1,11)]
print(li)
fact_li=[math.factorial(x) for x in li]
print(fact_li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [6]:
#Check if two lists have at least one element in common
list1=[1,2,3,4,5,6,7]
list2=[2,4,6,8,9,0,1]
set1=set(list1)
set2=set(list2)
list3=[]
for i in set1:
    for j in set2:
        if i==j:
            list3.append(i)
print("list of common elements is:",list3)

list of common elements is: [1, 2, 4, 6]

In [9]:
#remove all elements in a list
list1.clear()
print(list1)

[]

In [14]:
#Replace negative numbers in a list with 0.
list4=[-1,2,9,-3,89,-45]
for i in range(len(list4)):
    if list4[i]<0:
        list4[i]=0
        
print(list4)

[0, 2, 9, 0, 89, 0]

In [2]:
#Convert a string into a list of words.
str1="This is a sentence"
list_new=str1.split()
print(list_new)

['This', 'is', 'a', 'sentence']

In [3]:
#Convert a list of words into a string.
str2=" ".join(list_new)
print(str2)

This is a sentence

In [9]:
#Create a list of the first `n` powers of 2
x=int(input("value of n:"))
list_pow=[2**i for i in range(1,x+1)]
print(list_pow)

value of n: 10

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [22]:
#Find the longest string in a list of strings.
list_of_str=["my name is rita","i live in new york","i am an engineer"]
longest = max(list_of_str, key=len)
print("the longest string is:",longest, "and its length is:",len(longest))

the longest string is: i live in new york and its length is: 18

In [23]:
#Find the shortest string in a list of strings.
list_of_str=["my name is rita","i live in new york","i am an engineer"]
shortest = min(list_of_str, key=len)
print("the shortest string is:",shortest, "and its length is:",len(shortest))

the shortest string is: my name is rita and its length is: 15

In [32]:
# Create a list of the first `n` triangular numbers
x=int(input("the value of n:"))
j = 1
k = 1
list6=[]
for i in range(1, x + 1):
    list6.append(k)
    j = j + 1         
    k = k + j
print(list6)

the value of n: 9

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [3]:
# Check if a list contains another list as a subsequence
list1=[1,2,3,4,5,6,7]
list2=[2,3,4]
all(item in list1 for item in list2)

True

In [13]:
#Swap two elements in a list by their indices
list1=[2,3,4,45,10,12,60,8,20]
pos1=int(input("enter the value of index 1"))
pos2=int(input("enter the value of index 2"))
first_ele=list1.pop(pos1)
second_ele=list1.pop(pos2-1)
list1.insert(pos1,second_ele)
list1.insert(pos2,first_ele)
print(list1)

enter the value of index 1 5
enter the value of index 2 3

[2, 3, 45, 12, 10, 60, 4, 8, 20]

In [3]:
#tuple with integers from 1 to 5
t1=(1,2,3,4,5)
print(t1)
type(t1)

(1, 2, 3, 4, 5)

tuple

In [4]:
#Access the third element of a tuple
t1[3]

4

In [7]:
#Find the length of a tuple without using the `len()` function.
count=0
for i in t1:
    count+=1
print(count)

5

In [5]:
#Count the occurrences of an element in a tuple.
t2=(2,3,4,2,5,6,7,2,4,7,8,9)
t2.count(2)

3

In [6]:
#Find the index of the first occurrence of an element in a tuple
t2.index(4)

2

In [7]:
#Check if an element exists in a tuple.
x=int(input("element to be found:"))
if x in t2:
    print("element found")
else:
    print("element ot found")

element to be found: 5

element found

In [8]:
#Convert a tuple to a list
list_t=list(t2)
list_t

[2, 3, 4, 2, 5, 6, 7, 2, 4, 7, 8, 9]

In [9]:
#Convert a list to a tuple
tup=tuple(list_t)
tup

(2, 3, 4, 2, 5, 6, 7, 2, 4, 7, 8, 9)

In [11]:
#Unpack the elements of a tuple into variables.
a=("apple",2,200)
(fruit,quantity,rate)=a
print(fruit)
print(quantity)
print(rate)

apple
2
200

In [18]:
#Create a tuple of even numbers from 1 to 10.
t2=tuple(list(range(2,12,2)))
print(t2)

(2, 4, 6, 8, 10)

In [19]:
#Create a tuple of odd numbers from 1 to 10.
t3=tuple(list(range(1,11,2)))
print(t3)

(1, 3, 5, 7, 9)

In [20]:
#Concatenate two tuples.
t1=(1,2,3,4,5)
t2=(2,4,6,8,10)
t4=tuple(list(t1)+list(t2))
print(t4)

(1, 2, 3, 4, 5, 2, 4, 6, 8, 10)

In [9]:
#Repeat a tuple three times.
t1 = (1,2,3,4)
print("The elements of the given tuple are " + str(t1))
N = 3 
t1_repeat = ((t1,) * N)  
print("The tuple repeated N times is : " + str(t1_repeat))

The elements of the given tuple are (1, 2, 3, 4)
The tuple repeated N times is : ((1, 2, 3, 4), (1, 2, 3, 4), (1, 2, 3, 4))

In [10]:
#Check if a tuple is empty.
if t1==" ":
    print("tuple is empty")
else:
    print("tuple not empty")

tuple not empty

In [11]:
# Create a nested tuple.
test_tup1 = (3, 4),
test_tup2 = (5, 6), 
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
res = test_tup1 + test_tup2 
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [14]:
#Access the first element of a nested tuple.
print(res[0][0])

3

In [17]:
# Create a tuple with a single element.
tup1=(1)
print(tup1)

1

In [22]:
# Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print(tuple1 == tuple2)  
print(tuple1 > tuple2)  
print(tuple1 < tuple2) 
print(tuple1 >= tuple2)
print(tuple1 <= tuple2)

False
False
True
False
True

In [28]:
# Delete a tuple.
tuple1 = (1, 2, 3)
del(tuple1)

In [5]:
# Slice a tuple.
t4=(1,3,4,5,6,2,6,3,67,87)
print(t4[0:4])

(1, 3, 4, 5)

In [7]:
# Find the maximum value in a tuple.
x=max(t4)
print(x)

87

In [8]:
# Find the minimum value in a tuple.
y=min(t4)
print(y)

1

In [10]:
# Convert a string to a tuple of characters.
str1="this is a nice place."
tup1=tuple(str1)
print(tup1)

('t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'n', 'i', 'c', 'e', ' ', 'p', 'l', 'a', 'c', 'e', '.')

In [18]:
#Convert a tuple of characters to a string
str1= ''.join(tup1)
print(str1)

this is a nice place.

In [20]:
#Create a tuple from multiple data types.
tup2=(2,-1,"shikha",True,2+6j,0.89)
print(tup2)

(2, -1, 'shikha', True, (2+6j), 0.89)

In [23]:
#Check if two tuples are identical.
tup3=(2,-1,"shikha",True,2+6j,0.89)
if tup2==tup3:
    print("tuples are identical")
else:
    print("tuples are not identical")

tuples are identical

In [31]:
#Sort the elements of a tuple.
t5=(2,-1,0,-4,6,7,10)
z=list(t5)
z.sort(reverse=False)
print(z)

[-4, -1, 0, 2, 6, 7, 10]

In [11]:
# Convert a tuple of integers to a tuple of strings.
test_tuple=(1,3,4,5,7,6)
print("original tuple is:", str(test_tuple))
test_tuple=tuple(map(str, test_tuple))
print("modified tuple is:", str(test_tuple))

original tuple is: (1, 3, 4, 5, 7, 6)
modified tuple is: ('1', '3', '4', '5', '7', '6')

In [6]:
#Convert a tuple of strings to a tuple of integers.
test_tuple = ('1', '4', '3', '6', '7')
print ("Original tuple is : ", str(test_tuple))
test_tuple = tuple(map(int, test_tuple))   
print ("Modified tuple is : ", str(test_tuple))

Original tuple is :  ('1', '4', '3', '6', '7')
Modified tuple is :  (1, 4, 3, 6, 7)

In [12]:
#merge two tuples
tuple1 = (1, 2, 3)
tuple2= (1,3,4,5,6,2,6,3,67,87)
merged_tuple=tuple(list(tuple1+tuple2))
print(merged_tuple)

(1, 2, 3, 1, 3, 4, 5, 6, 2, 6, 3, 67, 87)

In [16]:
#Flatten a nested tuple.
listTup = ((4, 9), (2, 1), (5 ,6))
print("The tuple of list : " + str(listTup))
flatTup = tuple(sum(listTup,()))
print("Tuple after flattening : " + str(flatTup))

The tuple of list : ((4, 9), (2, 1), (5, 6))
Tuple after flattening : (4, 9, 2, 1, 5, 6)

In [13]:
#Create a tuple of the first 5 prime numbers.
primes = []
n=10
for i in range(2, n + 1):
    for j in range(2, int(i ** 0.5) + 1):
        if i%j == 0:
            break
        else:
            primes.append(i)

#prime_list = prime_numbers(11)
print(tuple(prime_list))

(2, 3, 5, 7, 11)

In [15]:
# Check if a tuple is a palindrome.
test_tup=('m','a','d','a','m')
if test_tup[0]==test_tup[-1]:
    print("tuple is a palindrome")
else:
    print("tuple is not a palindrome")

tuple is a palindrome

In [26]:
#Create a tuple of squares of numbers from 1 to 5.
tup_sqr=[]
for i in range(1,6):
    tup_sqr.append(i)
#print(li)
tup_sqr_new=[i**2 for i in tup_sqr]
print(tuple(tup_sqr_new))

(1, 4, 9, 16, 25)

In [43]:
#Filter out all even numbers from a tuple.
even=[]
x=range(1,50)
for i in x:
    if i%2==0:
        even.append(i)
        i+=1
print(tuple(even))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48)

In [47]:
# Multiply all elements in a tuple by 2.
tup1=range(1,10)
tup_new=[]
for i in tup1:
    tup_new.append(i*2)
    i+=1
print(tuple(tup_new))

(2, 4, 6, 8, 10, 12, 14, 16, 18)

In [49]:
#Create a tuple of random numbers.
import random
rand_tup = [random.randint(0, 20) for _ in range(10)]
print(tuple(rand_tup))

(11, 4, 16, 10, 0, 16, 3, 17, 8, 16)

In [6]:
# Check if a tuple is sorted.
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t=(1,5,2,6,9)
is_tuple_sorted(t)

False

In [7]:
# Rotate a tuple to the left by `n` positions.
tup_orig=(2,3,4,5,6,7)
tup_new=tup_orig[3:]+tup_orig[:3]
print(tup_new)

(5, 6, 7, 2, 3, 4)

In [8]:
# Rotate a tuple to the right by `n` positions.
tup_orig=(2,3,4,5,6,7)
tup_new1=tup_orig[:-3]+tup_orig[-3:]
print(tup_new1)

(2, 3, 4, 5, 6, 7)

In [10]:
# Create a tuple of the first 5 Fibonacci numbers.
n1,n2=0,1
n=int(input("Enter the number of terms: "))
i=2
tup_fib=[n1,n2]
while i<n:
  n3=n1+n2
  tup_fib.append(n3)
  n1=n2
  n2=n3
  i+=1
print(tuple(tup_fib))

Enter the number of terms:  5

(0, 1, 1, 2, 3)

In [11]:
# Create a tuple from user input
user_input = input("Enter a comma-separated list of numbers: ")
numbers = tuple(user_input.split(","))
print(numbers)

Enter a comma-separated list of numbers:  1,2,5,2,6,4,9

('1', '2', '5', '2', '6', '4', '9')

In [16]:
#Swap two elements in a tuple
original_tuple=[23,4,56,7,6,56,4]
#print(original_tuple)
pos1=int(input("enter the value of index1:"))
pos2=int(input("enter the value of index2:"))
first_ele=original_tuple.pop(pos1)
second_ele=original_tuple.pop(pos2-1)
original_tuple.insert(pos1,second_ele)
original_tuple.insert(pos2,first_ele)
print(tuple(original_tuple))

enter the value of index1: 5
enter the value of index2: 3

(23, 4, 7, 56, 6, 4, 56)

In [18]:
#Reverse the elements of a tuple.
original_tuple=[23,4,56,7,6,56,4]
print("original tuple:",original_tuple)
tuple_reverse=original_tuple[::-1]
print("reversed tuple:",tuple_reverse)

original tuple: [23, 4, 56, 7, 6, 56, 4]
reversed tuple: [4, 56, 6, 7, 56, 4, 23]

In [21]:
#Create a tuple of the first `n` powers of 2.
n=int(input("enter the value of n:"))
tup_pow=[]
for i in range(1,n+1):
    tup_pow.append(2**i)
    i+=1
print("tuple of first 'n' power of 2 is:",tuple(tup_pow))

enter the value of n: 10

tuple of first 'n' power of 2 is: (2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

In [14]:
#Find the longest string in a tuple of strings.
tup1=('apple','orange','pomegranate')
if len(tup1[0])>len(tup1[1]) and len(tup1[0])>len(tup1[2]):
    print("the longest string is:",tup1[0])
if len(tup1[1])>len(tup1[0]) and len(tup1[1])>len(tup1[2]):
    print("the longest string is:",tup1[1])
if len(tup1[2])>len(tup1[0]) and len(tup1[2])>len(tup1[1]):
    print("the longest string is:",tup1[2])

the longest string is: pomegranate

In [15]:
#Find the shortest string in a tuple of strings.
tup1=('apple','orange','pomegranate')
if len(tup1[0])<len(tup1[1]) and len(tup1[0])<len(tup1[2]):
    print("the shortest string is:",tup1[0])
if len(tup1[1])<len(tup1[0]) and len(tup1[1])<len(tup1[2]):
    print("the shortest string is:",tup1[1])
if len(tup1[2])<len(tup1[0]) and len(tup1[2])<len(tup1[1]):
    print("the shortest string is:",tup1[2])

the shortest string is: apple

In [1]:
#Create a tuple of the first `n` triangular numbers.
x=int(input("the value of n:"))
j = 1
k = 1
list6=[]
for i in range(1, x + 1):
    list6.append(k)
    j = j + 1         
    k = k + j
print(tuple(list6))

the value of n: 9

(1, 3, 6, 10, 15, 21, 28, 36, 45)

In [9]:
#Check if a tuple contains another tuple as a subsequence
tup_orig=(2,3,5,4,6,7,9,8)
tup_subseq=(2,3,5,9)
all(item in tup_orig for item in tup_subseq)

True

In [12]:
# Create a tuple of alternating 1s and 0s of length `n`.
result = []
n = 10
for i in range(n):
    if i % 2 == 0:
        result.append(1)
    else:
        result.append(0)
print(tuple(result))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [1]:
#Create a set with integers from 1 to 5.
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [2]:
# Add an element to a set.
s.add(25)
print(s)

{1, 2, 3, 4, 5, 25}

In [3]:
# Remove an element from a set.
s.remove(2)
print(s)

{1, 3, 4, 5, 25}

In [4]:
# Check if an element exists in a set.
s1={'apple','orange','kiwi','mango'}
if 'apple' in s1:
    print("yes the element exists.")

yes the element exists.

In [12]:
# Find the length of a set without using the `len()` function.
s={2,1,3,4,5,6,4,7,8}
length=0
for i in s:
    length+=1
print(length)

8

In [14]:
#Clear all elements from a set.
s.clear()
print(s)

set()

In [2]:
#Create a set of even numbers from 1 to 10.
evens = {x for x in range(2, 11, 2)}
print(evens)

{2, 4, 6, 8, 10}

In [3]:
#Create a set of odd numbers from 1 to 10.
odds={y for y in range(1,11,2)}
print(odds)

{1, 3, 5, 7, 9}

In [9]:
s_1={2,4,6,8,3,10,11,98,78,45}
s_2={45,34,67,78,1,23,90,43}
#union
print(s_1.union(s_2))
#intersection
print(s_1.intersection(s_2))
#difference
print(s_1.difference(s_2))
# subset
print(s_2.issubset(s_1))
#superset
print(s_2.issuperset(s_1))

{1, 2, 3, 4, 98, 6, 34, 8, 67, 10, 11, 43, 45, 78, 23, 90}
{45, 78}
{2, 3, 4, 98, 6, 8, 10, 11}
False
False

In [10]:
#list to set
list=[1,4,23,5,67,4,78,4]
print(set(list))

{1, 67, 4, 5, 78, 23}

In [18]:
#set to list
sample_set = {10, 20, 30, 40}
my_list=[]
for i in sample_set:
    my_list.append(i)
print(my_list)

[40, 10, 20, 30]

In [23]:
#Remove a random element from a set
s_1={2,4,6,8,3,10,11,98,78,45}
print(s_1.pop())

2

In [24]:
#Pop an element from a set.
print(s_1.pop())

3

In [26]:
#Check if two sets have no elements in common
set1={2,3,4,5}
set2={'apple','mango','orange'}
print(set1.isdisjoint(set2))

True

In [27]:
#Find the symmetric difference between two sets
print(s_1.symmetric_difference(s_2))

{1, 34, 67, 4, 98, 6, 8, 10, 43, 11, 23, 90}

In [33]:
# Update a set with elements from another set.
s_11={1,3,5,7,9}
s_22={2,4,6,8,10}
s_11.update(s_22)
print(s_11)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
# Create a set of the first 5 prime numbers.
print({i for i in range(2, 13) if 0 not in [i%n for n in range(2, i)]})

{2, 3, 5, 7, 11}

In [37]:
# Check if two sets are identical.
s_11={1,2,3,4}
s_22={1,2,3,4}
if s_11==s_22:
    print("sets are identical")
else:
    print("sets are unidentical")

sets are identical

In [39]:
# Create a frozen set.
animals = frozenset({"cat", "dog", "lion","elephant","bear"})
print("cat" in animals) 
print("elephant" in animals)
print("panda" in animals)

True
True
False

In [41]:
# Check if a set is disjoint with another set.
print(s_11.isdisjoint(s_22))

False

In [44]:
#Create a set of squares of numbers from 1 to 5.
print({i**2 for i in range(1,6)})

{1, 4, 9, 16, 25}

In [2]:
#Filter out all even numbers from a set.
even_set=[]
test_set=range(1,50)
for i in test_set:
    if i%2==0:
       even_set.append(i)
print(set(even_set))

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [3]:
#Multiply all elements in a set by 2.
print({i*2 for i in even_set})

{4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96}

In [4]:
#Create a set of random numbers.
import random
rand_tup = [random.randint(0, 20) for _ in range(10)]
print(set(rand_tup))

{1, 2, 5, 6, 9, 15, 17, 20}

In [11]:
#Check if a set is empty.
s=()
if len(s)==0:
    print("empty set")
else:
    print("set not empty")

empty set

In [12]:
#Create a nested set
s = set([frozenset([1,2]), frozenset([3,4])])
print(s)

{frozenset({3, 4}), frozenset({1, 2})}

In [14]:
# Remove an element from a set using the discard method.
s_11={1,3,5,7,9}
s_11.discard(3)
print(s_11)

{1, 5, 7, 9}

In [15]:
# Compare two sets.
s1={1,2,3,4}
s2={3,4,5,6}
print(s1==s2)
print(s1<s2)
print(s1>s2)
print(s1<=s2)
print(s1>=s2)

False
False
False
False
False

In [18]:
#Create a set from a string.
string="hello world!"
set_string=set(string)
print(set_string)

{'e', 'd', 'o', 'w', 'r', '!', 'l', ' ', 'h'}

In [3]:
# Convert a set of strings to a set of integers.
test_list = ['1', '4', '3', '6', '7']
for i in range(0, len(test_list)):
    test_list[i] = int(test_list[i])
print("Modified list is : ",set((test_list)))

Modified list is :  {1, 3, 4, 6, 7}

In [4]:
# Create a set from a tuple.
tuple_1=(1,3,5,7,9)
print(set(tuple_1))

{1, 3, 5, 7, 9}

In [6]:
# Convert a set to a tuple.
set_1={2,4,6,8}
print(tuple(set_1))

(8, 2, 4, 6)

In [8]:
#maximum value in a set:
print(max(set_1))
#minimum value in a set:
print(min(set_1))

8
2

In [12]:
# Create a set from user input.
list_1=[]
x=int(input("enter the value of limit n:"))
for i in range(1,x+1,2):
    list_1.append(i)
print(set(list_1))

enter the value of limit n: 15

{1, 3, 5, 7, 9, 11, 13, 15}

In [19]:
# Check if the intersection of two sets is empty.
s1={1,2,3,4}
s2={8,9,5,6}
if (s1.isdisjoint(s2)):
    print("intersection is empty")
else:
    print("intersection not empty")

intersection is empty

In [24]:
# Create a set of the first 5 Fibonacci numbers.
n1,n2=0,1
n=int(input("Enter the number of terms: "))
i=2
fib=[n1,n2]
while i<n:
  n3=n1+n2
  fib.append(n3)
  n1=n2
  n2=n3
  i+=1
print(set(fib))

Enter the number of terms:  6

{0, 1, 2, 3, 5}

In [25]:
#Remove duplicates from a list using sets.
test_list=[2,1,3,4,2,5,4,6,7,4,7,8,9,7,8]
print("original list is:",test_list)
print("the list after removing all duplicates is:",set(test_list))

original list is: [2, 1, 3, 4, 2, 5, 4, 6, 7, 4, 7, 8, 9, 7, 8]
the list after removing all duplicates is: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
# Check if two sets have the same elements, regardless of their count.
set1={2,3,4,5,6,7,8,9,10,11,12,2,3,4,5,10,10,2,3}
set2={2,3,4,5,6,7,8,9,10,11,12,2,3,4,5,10,10,2,3,2,2,3,4}
if (set1==set2):
    print("set have the same element")
else:
    print("elements are not same")

set have the same element

In [30]:
# Create a set of the first `n` powers of 2.
n=int(input("enter the value of n:"))
print({2**i for i in range(1,n+1)})

enter the value of n: 5

{32, 2, 4, 8, 16}

In [31]:
#Find the common elements between a set and a list
set1={2,3,4,5,6}
list1=[1,2,3,4]
com=[]
for i in set1:
    for j in list1:
        if i==j:
            com.append(i)
print(set(com))

{2, 3, 4}

In [32]:
# Create a set of the first `n` triangular numbers.
x=int(input("the value of n:"))
j = 1
k = 1
lis=[]
for i in range(1, x + 1):
    lis.append(k)
    j = j + 1         
    k = k + j
print(set(lis))

the value of n: 10

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [33]:
#Check if a set contains another set as a subset.
set1={2,3,4,5,6,7,8,9,10,11,12,2,3,4,5,10,10,2,3}
set2={2,3,4,5,6,7,8,9,10,11,12,2,3,4,5,10,10,2,3,2,2,3,4}
set1.issubset(set2)

True

In [44]:
#Merge multiple sets into one.
set1 = {"one","two","three"}
set2 = {"four","five","six"}
set3 = {"one","four","nine"}
set1.update(set2,set3)
print(set1)

{'nine', 'six', 'four', 'two', 'one', 'five', 'three'}