In [1]:
# Basic level

In [2]:
# Write a Python program to print the numbers from 1 to 10 using a `for` loop.
x=[]
for i in range(1,11):
    x.append(i)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#Create a program that calculates the sum of all numbers in a list using a `for` loop.
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

In [13]:
#Write a program to print the characters of a string in reverse order using a `for` loop.
x=str(input("enter a string:"))
str1=''
for i in x:
    str1=i+str1
print("the reversed sting is:", (str1))

enter a string: this is a nice place

the reversed sting is: ecalp ecin a si siht

In [27]:
# Develop a program that finds the factorial of a given number using a `for` loop.
fact=1
n=int(input("enter the value of n:"))
for i in range(1,n+1):
    fact*=i
print("the factorial of",n,"is:",fact)

enter the value of n: 6

the factorial of 6 is: 720

In [28]:
# Create a program to print the multiplication table of a given number using a `for` loop.
n=int(input("enter the number whose table is to be found:"))
table=[]
for i in range(1,11):
    table.append(n*i)
print(table)

enter the number whose table is to be found: 5

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [32]:
#Write a program that counts the number of even and odd numbers in a list using a `for` loop.
x=15
count_even=0
count_odd=0
for i in range(1,x+1):
    if i%2==0:
        count_even+=1
    else:
        count_odd+=1
print("the total number of even numbers is:",count_even,"and the total number of odd numbers is:",count_odd)

the total number of even numbers is: 7 and the total number of odd numbers is: 8

In [33]:
#Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.
squares=[]
for i in range(1,6):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [34]:
#Create a program to find the length of a string without using the `len()` function.
string="I live in lucknow."
count=0
for i in string:
    count+=1
print(count)

18

In [36]:
#Write a program that calculates the average of a list of numbers using a `for` loop.
list_num=[1,2,3,4,5,6,7,8,9,10,11,12]
sum=0
avg=0
for i in list_num:
    sum+=i
avg=sum/len(list_num)
print("average of numbers is:", avg)

average of numbers is: 6.5

In [41]:
# Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.
n=int(input("enter the value of n:"))
n1,n2=0,1
n3=0

fib=[n1,n2]
for i in range(2,n+1):
    n3=n1+n2
    fib.append(n3)
    n1=n2
    n2=n3
    i+=1
print("fibonacci numbers till",n,"are:",fib)

enter the value of n: 5

fibonacci numbers till 5 are: [0, 1, 1, 2, 3, 5]

In [42]:
#ADVANCED LEVEL

In [6]:
# Write a program to check if a given list contains any duplicates using a `for` loop.
def contains_duplicates(list1):
    for i in range(len(list1)):
        for j in range(0, i):
            if list1[i] == list1[j]:
                return True
    return False

In [3]:
list1=[2,3,4,2,1,4,5,6]
contains_duplicates(list1)

True

In [2]:
#Create a program that prints the prime numbers in a given range using a `for` loop.
l_range = int(input("Enter Lower Range: "))
u_range = int(input("Enter Upper Range: "))
print("Prime numbers between", l_range, "and", u_range, "are:")
for num in range(l_range, u_range + 1):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        print(num, end=' ')

Enter Lower Range:  2
Enter Upper Range:  50

Prime numbers between 2 and 50 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [3]:
#Develop a program that counts the number of vowels in a string using a `for` loop.
vow=['a','e','i','o','u']
count=0
str="i love lucknow."
for i in str:
    if i in vow:
        count+=1
print(count)

5

In [6]:
#Write a program to find the maximum element in a 2D list using a nested `for` loop.
list_2d=[[10,29,33],[48,12,75],[45,34,65]]
max_element=list_2d[0][0]
for row in list_2d:
    for col in row:
        if col>max_element:
            max_element=col
print("the maximum element is:",max_element)

the maximum element is: 75

In [11]:
#Create a program that removes all occurrences of a specific element from a list using a `for` loop.
list=[2,3,4,5,2,4,6,4,2,2,3,6,7,3,6]
x=int(input("enter the number to be removed:"))
for i in list:
    if x==list[i]:
        list.remove(list[i])
print(list)

enter the number to be removed: 2

[3, 4, 5, 4, 6, 4, 3, 6, 7, 3, 6]

In [8]:
#Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.
max_value=5
for i in range(1,max_value+1):
    for j in range(1,11):
        tab=i*j
        print(i,"X",j,"=",tab,'\n') 
    print()

1 X 1 = 1

1 X 2 = 2

1 X 3 = 3

1 X 4 = 4

1 X 5 = 5

1 X 6 = 6

1 X 7 = 7

1 X 8 = 8

1 X 9 = 9

1 X 10 = 10


2 X 1 = 2

2 X 2 = 4

2 X 3 = 6

2 X 4 = 8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

2 X 10 = 20


3 X 1 = 3

3 X 2 = 6

3 X 3 = 9

3 X 4 = 12

3 X 5 = 15

3 X 6 = 18

3 X 7 = 21

3 X 8 = 24

3 X 9 = 27

3 X 10 = 30


4 X 1 = 4

4 X 2 = 8

4 X 3 = 12

4 X 4 = 16

4 X 5 = 20

4 X 6 = 24

4 X 7 = 28

4 X 8 = 32

4 X 9 = 36

4 X 10 = 40


5 X 1 = 5

5 X 2 = 10

5 X 3 = 15

5 X 4 = 20

5 X 5 = 25

5 X 6 = 30

5 X 7 = 35

5 X 8 = 40

5 X 9 = 45

5 X 10 = 50

In [26]:
#Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.
temp_far=[107,25,697,56,43,67]
temp_cel=[]
for i in temp_far:
    t=((i-32)*(5/9))
    temp_cel.append(t)
print("temperature in farenheit:",temp_far)
print("temperature in celcius:",temp_cel)

temperature in farenheit: [107, 25, 697, 56, 43, 67]
temperature in celcius: [41.66666666666667, -3.8888888888888893, 369.44444444444446, 13.333333333333334, 6.111111111111112, 19.444444444444446]

In [28]:
#Create a program to print the common elements from two lists using a `for` loop.
list1=[12,3,4,23,15,45,9,87]
list2=[15,12,45,9,87,16,43,5]
common=[]
for i in list1:
    for j in list2:
        if i==j:
            common.append(i)
print(common)

[12, 15, 45, 9, 87]

In [9]:
#Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern
row=5
for i in range(1,row+1):
    for j in range(1,i+1):
        print("*", end='')
    print()

*
**
***
****
*****

In [36]:
# Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.
num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))
gcd = 1
for i in range(1, min(num1, num2)):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
print("GCD of", num1, "and", num2, "is", gcd)

enter the first number: 100
enter the second number: 500

GCD of 100 and 500 is 50

In [37]:
#ADVANCED LEVEL

In [12]:
#Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.
test_list = [12, 67, 98, 34]
print("The original list is : " +str(test_list))
res = list(map(lambda ele: sum(int(sub) for sub in str(ele)), test_list)) 
print ("List Integer Summation : " +str(res))

The original list is : [12, 67, 98, 34]
List Integer Summation : [3, 13, 17, 7]